/* CSS file */

Canvas
{
	backgroundImage: "@Embed(source='../../../assets/images/header_bg.png')";
}

.greyTextColor
{
	color: #bdbdbd;
}

.tagCloud
{
	border-skin: Embed(source='assets/brownie/images/input_bg.png', scaleGridLeft=8, scaleGridRight=20, scaleGridTop=8,scaleGridBottom=9);
}