Application.main
{
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	fontAntiAliasType: advanced;
	fontFamily: Verdana;
	fontSize: 10;
	fontStyle: normal;
	fontWeight: normal;
	horizontalAlign: center;
	letterSpacing: 1;
	textAlign: center;
	verticalAlign: top;
	verticalGap: 20;
	padding-bottom: 0;
	padding-top: 0;
}

PositionedTabNavigator
{
	borderColor: #3274D0;
	borderStyle: solid;
	borderThickness: 4;
	color: #FFFFFF;
	cornerRadius: 10;
	fontFamily: Verdana;
	fontSize: 14;
	fontWeight: bold;
	paddingTop: 0;
	tabOffset: 60;
	tabPosition: leftTop;
	textAlign: left;
	themeColor: #3274D0;
}

FormItem {
	verticalGap: 0;
}	

ScrollBar {
	upArrowSkin: ClassReference(null);
	downArrowSkin: ClassReference(null);
	thumbDownSkin: Embed(source="../../assets/scroll-bar-thumbs/light-grey-thumb.png",scaleGridTop="9",scaleGridLeft="1",scaleGridRight="10",scaleGridBottom="51");
	thumbOverSkin: Embed(source="../../assets/scroll-bar-thumbs/dark-grey-thumb.png",scaleGridTop="9",scaleGridLeft="1",scaleGridRight="10",scaleGridBottom="51");
	thumbUpSkin: Embed(source="../../assets/scroll-bar-thumbs/dark-grey-thumb.png",scaleGridTop="9",scaleGridLeft="2",scaleGridRight="10",scaleGridBottom="51");
	trackSkin: Embed(source="../../assets/scroll-bar-thumbs/light-grey-track.png",scaleGridTop="9",scaleGridLeft="1",scaleGridRight="16",scaleGridBottom="55");
	thumbOffset: 0;
}

.header1 {
    fontFamily: Verdana;
	fontWeight: normal; 
	fontSize: 26;
	color: #303030;
}

.errorText {
    fontFamily: Verdana;
	fontWeight: normal;
	fontStyle: normal; 
	fontSize: 10;
	color: #ff0000;
}
