DataGrid.directoryStyle {
	backgroundAlpha: 0.0;
	borderStyle: solid;
	color: #3274D0;
	focusAlpha: 0;
	fontSize: 12;
	textAlign: left;
	verticalGridLines: true;
	headerColors: #C6C8C3, #C6C8C3;
	verticalGridLineColor: #E7E7E7;
	horizontalGridLines: true;
	horizontalGridLineColor: #E7E7E7;
	headerStyleName: dataGridHeader;
	rollOverColor: #C6C8C3;
	selectionColor: #FFFFFF;
	selectionDisabledColor: #FFFFFF;
	textRollOverColor: #3274D0;
	textSelectedColor: #3274D0;
	use-roll-over: false;
	borderThickness: 2;
}

.dataGridHeader
{
	fontWeight: bold;
	fontFamily: Verdana;
	fontSize: 14;
	textAlign: left;
	color: #303030;
}

.indexLinkStyle {
	fontWeight: bold;
	fontSize: 11;
	fontFamily: Verdana;
	color: #303030;
	rollOverColor: #C6C8C3;
	selectionColor: #FFFFFF;
	themeColor: #C6C8C3;
	textRollOverColor: #FFFFFF;
}

.indexLinkTextStyle
{
	fontWeight: bold;
	fontSize: 12;
	fontFamily: Verdana;
	color: #303030;
}