.profileDetailsControlBarButtonStyle {
	upSkin:ClassReference('skins.ProfileDetailsControlBarSkin');
    overSkin:ClassReference('skins.ProfileDetailsControlBarSkin');
    downSkin:ClassReference('skins.ProfileDetailsControlBarSkin');
	selectedDownSkin:ClassReference('skins.ProfileDetailsControlBarSkin');
    selectedUpSkin:ClassReference('skins.ProfileDetailsControlBarSkin');
    selectedOverSkin:ClassReference('skins.ProfileDetailsControlBarSkin');
    color: #FFFFFF;
	text-roll-over-color: #FFFFFF;
	text-selected-color: #FFFFFF;
	fontFamily: Verdana;
	fontWeight: bold; 
	fontSize: 16;
	padding-left: 30;
	padding-right: 30;
}

.profileDetailsControlBarStyle {
	buttonStyleName: profileDetailsControlBarButtonStyle;
}

.transparentDataGridStyle
{
	backgroundAlpha: 0.0;
	borderStyle: none;
	color: #1259C7;
	focusAlpha: 0;
	fontSize: 14;
	textAlign: left;
	textRollOverColor: #1259C7;
	textSelectedColor: #1259C7;
	verticalGridLines: false;
}

.comboBoxStyle 
{
		
}
