.formItemLabelStyle
{
	color: #303030;
	fontFamily: Verdana;
	fontSize: 14;
	fontWeight: normal;
	letterSpacing: 1;
}

.formItemTextInputStyle
{
	color: #1259C7;
	fontFamily: Verdana;
	fontSize: 12;
	fontWeight: bold;
	borderStyle: solid;
	borderThickness: 2;
	borderColor: #C6C8C3;
	backgroundAlpha: 1.0;
	corner-radius: 2;
	paddingLeft: 5;
	paddingRight: 5;
	text-align: left;
	focusColor: #1259C7;
	focusThickness:2;
	focusAlpha: 1;
}


.formItemTextStyle
{
	color: #1259C7;
	fontFamily: Verdana;
	fontSize: 12;
	fontWeight: bold;
}

.formItemGreenTextStyle
{
	color: #5a9119;
	fontFamily: Verdana;
	fontSize: 11;
	fontWeight: bold;
}

.formStyle
{
	borderColor: #FFFFFF;
	color: #303030;
	paddingLeft: 0;
	themeColor: #FFFFFF;
	verticalGap: 20;
}
