.main
{
	backgroundColor: #3274D0;
}

.logo
{
	fontFamily: TempusSansITC;
	fontSize: 36;
}

.buttonStyle {
	upSkin:ClassReference('skins.CustomButtonSkin');
    overSkin:ClassReference('skins.CustomButtonSkin');
    downSkin:ClassReference('skins.CustomButtonSkin');
    disabledSkin:ClassReference('skins.CustomButtonSkin');
    fillColors: #FFFFFF, #013e7d;
    cornerRadius: 10;
    borderThickness: 2;
    borderColor: #013e7d;
    color: #FFFFFF;
	textRollOverColor: #013E7D;
	textSelectedColor: #FFFFFF;
	disabledColor: #FFFFFF;
	fontFamily: Verdana;
	fontWeight: bold;
	focusThickness:0;
	focusAlpha: 0;
}

.buttonBarStyle
{
	buttonStyleName: buttonStyle;
	horizontalGap: 10;
}

.queryTextStyle
{
	backgroundAlpha: 1.0;
	backgroundColor: #FFFFFF;
	borderColor: #013E7D;
	borderStyle: solid;
	borderThickness: 2;
	color: #013E7D;
	cornerRadius: 9;
	fontFamily: Verdana;
	fontSize: 10;
	font-weight: normal;
	textAlign: left;
	themeColor: #013E7D;
	focusThickness: 0;
}

.searchCriteriaRadioButtonStyle
{
	borderColor: #FFFFFF;
	color: #FFFFFF;
	cornerRadius: 10;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	themeColor: #013E7D;
}
